@media (max-width: 1199px) {
    #board {
        --board-size: 88vw;
        outline: 2px black solid;
    }
    .square{
        --square-size: 11vw;
    }
    .app-piece-icon {
        font-size: 60%;
    }
}
